<!doctype html>
<html lang="es">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="imagenes/login.jpg">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <title>Admin: Detalles multa</title>

	</head>

	<body>
        <div class="row main mt-5">

            <div class="col-sm-3">
            </div>

            <div class="col-sm-6">
                {% set arrayPago =
                {
                    0: "No Pagado",
                    1: "Pagado",
                    2: "En proceso de pago"
                }%}

                {% set arrayReclamado =
                {
                    0: "No ha sido reclamada",
                    1: "Ha sido reclamada"
                }%}

                     <b>Administrador: {{multa.admin.nombreAdmin}}</b>
                <br> <b>Matrícula Multada: </b> {{multa.matricula.matricula}}
                <br> <b>Infractor: </b> {{multa.credencial}}
                <br> <b>Fecha: </b> {{multa.fecha | date("Y-m-d")}}
                <br> <b>Razón: </b> {{multa.razon}}
                <br> <b>Dirección: </b> {{multa.direccion}}
                <br> <b>Precio: </b> {{multa.precio}}
                <br> <b>Reclamada: </b> {{arrayReclamado[multa.reclamada]}}
                <br> <b>Estado: </b> {{arrayPago[multa.estado]}}

                {% if (multa.estado > 0) %}
                    
                        <br><br>
                        <form action="{{path("elegir_pago")}}" method="POST">
                            <input type="Submit" value="Pagar" disabled>
                        </form>
                    {% else %}
                        <br><br> <form action="{{path("elegir_pago")}}" method="POST">
                            <input type="Submit" value="Pagar">
                        </form>
                {% endif %}

                <br>

                {% if (multa.reclamada == 0 and multa.estado == 0) %}
                        <form action="{{path("reclamar_multa")}}" method="POST">
                            <input type="Submit" value="Reclamar multa">
                        </form><br>
                    {% else %}
                        <form action="{{path("reclamar_multa")}}" method="POST">
                            <input type="Submit" value="Reclamar multa" disabled>
                        </form>
                {% endif %}

                <a href='{{ path("get_home") }}'>Volver atrás</a>
            </div>

            <div class="col-sm-3">
            </div>
        </div>
    </body>


</html>