<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/imagenes/card.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <title>Datos Tarjeta</title>

    <link href="css/datos_tarjeta.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="container">
        <form class="form-signin" action="{{ path("eleccion_tarjeta") }}" method="POST">
            
          <br>
            <img class="mb-4" src="{{ asset('images/credit_card.png') }}" alt="Tarjeta Crédito" width="150" height="72">
            <h1 id="h1tj" class="h3 mb-3 font-weight-normal">Datos de la Tarjeta</h1>

            <label for="nombre_titular" class="sr-only">Nombre</label>
            {{ form_widget(form.nombre_titular, { "attr": { "class": "form-control", "placeholder": "Nombre del Titular" } }) }}
            <!--<input type="email" id="nombre_titular" class="form-control" placeholder="Nombre del Titular" required autofocus>-->

            <label for="numero_tarjeta" class="sr-only">Número de la Tarjeta</label>
            {{ form_widget(form.numero_tarjeta, { "attr": { "class": "form-control", "placeholder": "Número de Tarjeta" } }) }}
            <!--<input type="number" id="numero_tarjeta" class="form-control" placeholder="Número de Tarjeta" required>-->

            <label for="fecha_caducidad" class="sr-only">Fecha de Caducidad</label>
            {{ form_widget(form.fecha_caducidad, { "attr": { "class": "form-control", "placeholder": "yyyy-MM-dd", "style": "text-align: left;" } }) }}
            <!--<input type="text" id="fecha_caducidad" class="form-control" placeholder="yyyy-MM-dd" required>-->
            
            <label for="CVV" class="sr-only">CVV</label>
            {{ form_widget(form.CVV, { "attr": { "class": "form-control", "placeholder": "CVV" } }) }}
            <!--<input type="number" id="CVV" class="form-control" placeholder="CVV" required>-->
            <br>

            {{ form_row(form._token) }}
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Realizar pago"/>
            
          </form>

        {% if not form.vars.valid %}
            <div class="alert alert-danger">
                {{ form_errors(form.nombre_titular) }}
                {{ form_errors(form.numero_tarjeta) }}
                {{ form_errors(form.fecha_caducidad) }}
                {{ form_errors(form.CVV) }}
            </div>
        {% endif %}
    </div>
   
  </body>
</html>
