<!doctype html>
<html lang="es">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{asset("images/login.jpg")}}">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        
        <title>Admin: Registrar coche</title>

    </head>

	<body>
        <form action="{{ path('introducir_multa') }}" method="POST">

            Razón de la Multa: 
            <!--<input name="razon" type="text" value="$razon" required>-->
            {{ form_widget(form.razon, { "attr": { "title": "La razón no puede contener números", "placeholder": "Rasonsita de pesito" } }) }}
            <br>

            Dirección: 
            <!--<input name="direccion" type="text" value="$direccion" required>-->
            {{ form_widget(form.direccion, { "attr": { "placeholder": "Direccionsita realita pliase" } }) }}
            <br>

            Precio: 
            <!--<input name="precio" type="number" value="$precio" required>-->
            {{ form_widget(form.precio, { "attr": { "title": "El precio no puede contener letras", "placeholder": "Platica rica $$€€ Money69Lot" } }) }}
            <br>

            Matrícula:
            {{ form_widget(form.matricula, { "attr": { "title": "La matrícula no puede estar vacía", } }) }}
            <br>

            Fecha 
            <!--<input name="fecha" type="date" value="$fecha" required>-->
            {{ form_widget(form.fecha, { "attr": { "placeholder": "Fechita" } }) }}
        
            <!--Chema no sabe para qué sirve, pero es necesario -->
            {{ form_row(form._token) }}
            
            <input type='submit' value='Registrar Multa'>
        </form>

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}

    </body>

</html>