<!doctype html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="imagenes/login.jpg">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <title>Iniciar sesión</title>

    <!-- Añadimos el css -->
    <link href="{{ asset('css/login_infractor.css') }}" rel="stylesheet">

  </head>

  <body>
    <div class="container mt-5">
      <div class="text-center">
        <form class="form-signin" action="{{ path("register_admin") }}" method="POST">
          
            <img class="mb-4" src="{{ asset('images/police.png') }}" alt="" width="150" height="150">
            <h1 id="h1"class="h3 mb-3 font-weight-normal">Registrarse</h1>

            <label for="nombre" class="sr-only">Nombre</label>
            {{ form_widget(form.nombreAdmin, { "attr": { "class": "form-control", "placeholder": "Nombre"} }) }}

            <label for="apellidos" class="sr-only">Apellidos</label>
            {{ form_widget(form.apellidosAdmin, { "attr": { "class": "form-control", "placeholder": "Apellidos" } }) }}

            <label for="credencial" class="sr-only">Credencial</label>
            {{ form_widget(form.credencialAdmin, { "attr": { "class": "form-control", "placeholder": "CIF-NIF" } }) }}

            <label for="password" class="sr-only">Contraseña</label>
            {{ form_widget(form.passwordAdmin, { "attr": { "class": "form-control", "placeholder": "Contraseña", "style": "margin-bottom: 0;" } }) }}

            <label for="password2" class="sr-only">Repetir Contraseña</label>
            {{ form_widget(form.password2, { "attr": { "class": "form-control", "placeholder": "Repetir Contraseña" } }) }}
            
            <!--<input type="hidden" name="typeLogin" value="admin">-->
            {{ form_row(form._token) }}
            
            <input class="btn btn-lg btn-primary btn-block mt-2" type="submit" value="Registrarse como Admin"/>

            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    {{ form_errors(form.credencialAdmin) }}
                    {{ form_errors(form.nombreAdmin) }}
                    {{ form_errors(form.apellidosAdmin) }}
                </div>
            {% endif %}

            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </form>

      </div>
    </div>
   
  </body>

</html>
